.header {
    padding: 1.2% 7% 1% 7%;
    position: relative;
    height: 100vh;
    text-align: start;
    align-items: flex-start;
  }
  .navbar-nav .nav-link.active {
    color: rgb(49, 131, 226);
    font-weight: bold;
  }
  .nav-link {
    color: white;
    font-family: "Inter", sans-serif;
  }
  .navbar-inner {
    background-color:transparent;
  }
  .nav-item {
    margin-left: 60px;
  } 
  /* .contact-text{
    margin-left: 50px;
  } */
@media (max-width: 1190px) {
  .nav-item {
    margin-left: 40px;
  }
}
@media (max-width: 1050px) {
  .nav-item {
    margin-left: 30px;
  }
}
@media (max-width: 992px) {
  .header {
    padding: 3% 7% 1% 7%;
  }
  .g{
    width: 50px;
  }
  .nav-item {
    margin: auto;
  }
  .nav-link{
    color: white;
  }
  .navbar-collapse{
    background-color: rgb(85, 84, 84);
    z-index: 33;
  }
}